{% extends "base.html" %}

{% block title %}Обработка изображения{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-md-6">
            <h2>Загрузка изображения</h2>
            <form action="{{ url_for('upload_image') }}" method="post" enctype="multipart/form-data" class="mb-4">
                <div class="mb-3">
                    <label for="file" class="form-label">Выберите изображение</label>
                    <input type="file" class="form-control" id="file" name="file" accept="image/*" required>
                </div>
                <button type="submit" class="btn btn-primary">Загрузить</button>
            </form>
        </div>
        {% if image_path %}
        <div class="col-md-6">
            <h2>Загруженное изображение</h2>
            <img src="/{{ image_path }}" alt="Загруженное изображение" class="img-fluid mb-3">
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
